@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modalBackgound {
    width: 100vw;
    height: 100vh;
    animation: fadein .3s;
    background-color: rgba(200, 200, 200, 0.5);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;

    .modalContainer {
        width: 500px;
        height: 500px;
        border-radius: 20px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        padding: 25px;

        .title {
            display: inline-block;
            text-align: start;
            margin-top: 0px;

            h1 {
                font-size: 22px;
            }
        }

        .body {
            flex: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.7rem;

            text-align: left;

            .txt_label {
                font-size: 20px;
            }
        }

        .footer {
            flex: 20%;
            display: flex;
            justify-content: center;
            align-items: center;

            .cancelBtn {
                @apply m-1 px-4 py-2 font-semibold text-sm bg-yellow-500 text-white rounded-md shadow-sm hover:scale-105 ease-in-out duration-300 ;
                width: 7rem;
                height: 45px;
                margin: 20px;
                margin-top: 50px;
                border: none;
                background-color: crimson;
                color: white;
                border-radius: 8px;
                font-size: 20px;
                cursor: pointer;
            }

            .confirmBtn {
                @apply m-1 px-4 py-2 font-semibold text-sm bg-yellow-500 text-white rounded-md shadow-sm hover:scale-105 ease-in-out duration-300 ;
                width: 7rem;

                height: 45px;
                margin: 20px;
                margin-top: 50px;
                border: none;
                background-color: cornflowerblue;
                color: white;
                border-radius: 8px;
                font-size: 20px;
                cursor: pointer;
            }

            #cancelBtn {
                background-color: crimson;
            }
        }
    }

    .titleCloseBtn {
        display: flex;
        justify-content: flex-end;
    }

    .titleCloseBtn Button {
        background-color: transparent;
        border: none;
        font-size: 25px;
        cursor: pointer;
    }




}